In [1]:
!pip install tensorflow
!pip install pandas
!pip install scikit-learn
!pip install numpy

Requirement already satisfied: tensorflow in /usr/local/python/3.10.4/lib/python3.10/site-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (23.5.9)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (1.54.2)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (1.23.5)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (4.23.1)
Requirement already satisfied: setuptools in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (2.12.3)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /home/codespace/.local/lib/python3.10/site-packages (from tensorflow) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorflow) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /home/codespace/.local/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from jax>=0.3.15->tensorflow) (0.1.0)
Requirement already satisfied: scipy>=1.7 in /home/codespace/.local/lib/python3.10/site-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.18.1)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /home/codespace/.local/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.28.2)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.0)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.4)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: urllib3<2.0 in /home/codespace/.local/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (1.26.15)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2022.12.7)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/codespace/.local/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

[notice] A new release of pip is available: 23.1.1 -> 23.1.2
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.1.1 -> 23.1.2
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: scikit-learn in /home/codespace/.local/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/python/3.10.4/lib/python3.10/site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /home/codespace/.local/lib/python3.10/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /home/codespace/.local/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/codespace/.local/lib/python3.10/site-packages (from scikit-learn) (3.1.0)

[notice] A new release of pip is available: 23.1.1 -> 23.1.2
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: numpy in /usr/local/python/3.10.4/lib/python3.10/site-packages (1.23.5)

[notice] A new release of pip is available: 23.1.1 -> 23.1.2
[notice] To update, run: python -m pip install --upgrade pip

In [2]:
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import numpy as np
print("Import Done!")

2023-05-19 13:34:57.325950: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-19 13:34:58.272514: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-19 13:34:58.273656: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-19 13:35:03.087172: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

Import Done!

In [3]:
df = pd.read_csv("diabetes_prediction_dataset.csv")

In [4]:
x = df.copy()
y = df["diabetes"].copy()

In [5]:
print(x.head())
print(y.head())

   gender   age  hypertension  heart_disease smoking_history    bmi
0  Female  80.0             0              1           never  25.19  \
1  Female  54.0             0              0         No Info  27.32
2    Male  28.0             0              0           never  27.32
3  Female  36.0             0              0         current  23.45
4    Male  76.0             1              1         current  20.14

   HbA1c_level  blood_glucose_level  diabetes
0          6.6                  140         0
1          6.6                   80         0
2          5.7                  158         0
3          5.0                  155         0
4          4.8                  155         0
0    0
1    0
2    0
3    0
4    0
Name: diabetes, dtype: int64

In [6]:
x["gender"].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [7]:
gender_to_int = {'Male': 0, 'Female': 1, 'Other': 2}
x['gender'] = x['gender'].map(gender_to_int)

In [8]:
x.head(100)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,1,80.0,0,1,never,25.19,6.6,140,0
1,1,54.0,0,0,No Info,27.32,6.6,80,0
2,0,28.0,0,0,never,27.32,5.7,158,0
3,1,36.0,0,0,current,23.45,5.0,155,0
4,0,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
95,0,19.0,0,0,never,27.32,6.1,80,0
96,1,67.0,0,0,never,27.32,6.2,159,1
97,0,11.0,0,0,No Info,27.32,6.1,90,0
98,1,30.0,0,0,No Info,50.13,6.0,100,0
99,0,29.0,0,0,current,27.32,4.8,158,0

In [9]:
x["gender"].unique()

array([1, 0, 2])

In [10]:
x["smoking_history"].unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [11]:
smoking_history_to_int = {'No Info' : 0, 'never': 1, 'current': 2, 'former': 3, 'ever' : 4, 'not current' : 5}
x['smoking_history'] = x['smoking_history'].map(smoking_history_to_int)

In [12]:
x["smoking_history"].unique()

array([1, 0, 2, 3, 4, 5])

In [13]:
x.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,1,80.0,0,1,1,25.19,6.6,140,0
1,1,54.0,0,0,0,27.32,6.6,80,0
2,0,28.0,0,0,1,27.32,5.7,158,0
3,1,36.0,0,0,2,23.45,5.0,155,0
4,0,76.0,1,1,2,20.14,4.8,155,0

In [14]:
x.loc[df['age'] < 15, 'smoking_history'] = 1

In [15]:
x.head(10000)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,1,80.0,0,1,1,25.19,6.6,140,0
1,1,54.0,0,0,0,27.32,6.6,80,0
2,0,28.0,0,0,1,27.32,5.7,158,0
3,1,36.0,0,0,2,23.45,5.0,155,0
4,0,76.0,1,1,2,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
9995,1,9.0,0,0,1,25.28,5.8,130,0
9996,0,59.0,0,0,4,35.00,6.8,140,1
9997,0,2.0,0,0,1,17.43,4.5,126,0
9998,0,61.0,1,0,4,31.89,5.7,140,0
9999,0,43.0,0,0,1,30.24,6.6,130,0

In [16]:
x.pop("diabetes")

0        0
1        0
2        0
3        0
4        0
        ..
99995    0
99996    0
99997    0
99998    0
99999    0
Name: diabetes, Length: 100000, dtype: int64

In [17]:
x.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
0,1,80.0,0,1,1,25.19,6.6,140
1,1,54.0,0,0,0,27.32,6.6,80
2,0,28.0,0,0,1,27.32,5.7,158
3,1,36.0,0,0,2,23.45,5.0,155
4,0,76.0,1,1,2,20.14,4.8,155

In [18]:


x_train, x_test, y_train, y_test = train_test_split(x,y, shuffle = True, stratify=y, train_size = 0.8)

In [19]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(8, activation = 'sigmoid'),
    tf.keras.layers.Dense(7,activation = 'sigmoid'),
    tf.keras.layers.Dense(6,activation = 'sigmoid'),
    tf.keras.layers.Dense(5,activation = 'sigmoid'),
    tf.keras.layers.Dense(4,activation = 'sigmoid'),
    tf.keras.layers.Dense(3,activation = 'sigmoid'),
    tf.keras.layers.Dense(2,activation = 'sigmoid'),
    tf.keras.layers.Dense(1,activation = 'sigmoid')])
model.compile(loss = 'binary_crossentropy',
              optimizer = tf.keras.optimizers.Adam())

weights = {0: 1.0, 1: 5.0}
model.fit(x_train, y_train, epochs= 15, class_weight = weights)

Epoch 1/15
2500/2500 [==============================] - 6s 2ms/step - loss: 0.8362
Epoch 2/15
2500/2500 [==============================] - 5s 2ms/step - loss: 0.7796
Epoch 3/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.7079
Epoch 4/15
2500/2500 [==============================] - 5s 2ms/step - loss: 0.6876
Epoch 5/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.6771
Epoch 6/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.6685
Epoch 7/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.6548
Epoch 8/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.6252
Epoch 9/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.5416
Epoch 10/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.4691
Epoch 11/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.4061
Epoch 12/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.3697
Epoch 13/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.3661
Epoch 14/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.3577
Epoch 15/15
2500/2500 [==============================] - 4s 2ms/step - loss: 0.3519

In [20]:
y_train

91002    0
8840     0
59781    0
94722    1
37935    1
        ..
24883    0
31758    0
96794    0
19334    0
53654    0
Name: diabetes, Length: 80000, dtype: int64

In [21]:
y_pred = model.predict(x_test)

625/625 [==============================] - 1s 1ms/step

In [22]:
print(y_pred)

[[0.4490787 ]
 [0.02003827]
 [0.03930837]
 ...
 [0.01963037]
 [0.01962453]
 [0.0191    ]]

In [23]:
a,b = 0,0 
for i in range(0,len(y_pred)):
     if y_pred[i] >= 0.3:
         y_pred[i] = 1
         a = a+1
         #print("True")
     else:
         y_pred[i] = 0
         #print("False")
         b += 1
print(a)
print(b)

2712
17288

In [24]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.93      0.96     18300
           1       0.52      0.84      0.64      1700

    accuracy                           0.92     20000
   macro avg       0.75      0.88      0.80     20000
weighted avg       0.94      0.92      0.93     20000